main {
    width: 300px;
    height: 400px;
    background: tomato;
}

div {
    width: 200px;
    height: 100px;
    border: 1px solid;
    background: yellow;
    text-align: center;
    box-sizing: border-box;
    line-height: 100px;
}

div:nth-of-type(2) {
    position: static;
    background: cyan;
    opacity: 0.8;
}